
*{
    margin: 0;
    padding: 0;
}

   
body{
    font-family: 'Ropa Sans', sans-serif;    
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(55,51,47,0.65)), to(rgba(181,175,151,0.286))) fixed;   
    
}
.one,
.two,
.three{
    background-color: white;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    
}
.menu-hamburguer{
    position: absolute;

    width: 10%;
   
    left: 368px;
    top: 6px;
}
.menu-faixa{
   background-color: black;
   
   padding-bottom: 45px;
   padding-left: 10px;

   height: 7px;
    
   color: white;
   font-size: 30px;

   line-height: 50px;
}
.menu{
    list-style: none;

    position: absolute;
   
    width: 100%;

    padding: 10px;

    text-transform: uppercase;

    display: flex;
    
    justify-content: space-between;  

    font-size: 10px;

    display: none;
}
.menu a{
    color:white;
    text-decoration: none;
}
.cabecalho-mecanica{
    text-transform: none;
  
    font-size: 15px;
}
.cabecalho-pedidos{
    text-transform: none;
    
    font-size: 15px;
}
.texto-apresentacao{
    position: absolute;
    line-height: 25px;

    font-family: 'Abel', sans-serif;
    font-weight: normal;

    text-transform: uppercase;
    
    letter-spacing: 2px;

    
    
    top: 100px;
}
.texto-apresentacao h1{
      font-size: 30px;
      background-color: white;
      padding: 10px;
     
      border-radius: 10px;

   
}
.texto-apresentacao h2{
    font-size: 18px;
}
.imagem-principal{   
    position: relative;
    display: block;

    height:300px;
    width:300px;

   margin: auto;
    top: 150px;
   
    background: url(/img/mecanico-casa.jpeg) no-repeat;
    border-radius: 20px;
}
.conheca-nos{
    position: relative;
    display: block;
    
    top: 170px;
    
    margin-left: auto;
    margin-right: auto;
    
    background-color: white;

    height: 70px;
    width: 200px;
    
    text-align: center;
    line-height: 70px;

    font-family: 'Abel', sans-serif;
    font-weight: bolder;
    font-size: 20px;

    text-transform: uppercase;

    border-radius: 10px;

    box-shadow: 1px 1px 3px black;
} 
legend{
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
}

.dados{
    position: relative;
    display:block;

    top: 250px;
   
    margin-left: auto;
    margin-right: auto;
    
    width: 10%;

    align-items: center;

  

    background-color:rgba(181,175,151,0.286);
    
    border-color:rgba(181,175,151,0.286);
    border-radius: 10px;

    box-shadow: 1px 2px 2px rgba(181,175,151,0.286);

   
}
#enviar {
    display: block;
    position: relative;

    left: 60px;
    bottom:2px;

    padding: 5px;
}
.rodape{
    position:fixed;
 

    bottom: 0px;
    height: 35px;
    
    width: 425px;
   
    line-height: 40px;  

    border-top: 1px solid #000000;
     
    text-align: center;
}








