body{
    background-color:black;
    font-family: 'Coustard';
}
a{
    color: white;
}
/*INICIO CABECALHO*/
div#cabecalho{
    border: 2px solid white;  
    background-color: #fff952;
    margin: auto;
    height: 150px;
}
div#cabecalho img{
    margin-bottom: 100px;
    margin-left:10px;    
}   
div#cabecalho h2{
    margin-left: 290px;
    margin-top: -130px;    
    font-size: 15px;
    color:#e20101c9;
}
ul#inf li{
    color: white;
    text-align: center;
    list-style: none;
    background-color: black;
    border:2px solid black;
}
ul#inf li:hover{
    -webkit-transform: scale(1.1);
    -webkit-transition: all 0.1s ease-in;
}
ul#inf li#quemsomos{  
    margin-right: 110px;
    margin-left:1050px ;
    margin-top: -170px;
    font-size: 15px;   
}
ul#inf li#contato{   
    margin-left: 1190px;
    margin-right: 1px;
    margin-top: -26px;
    font-size: 15px;
}
/*FIM CABECALHO*/
div#botoes{
    height: 450px;
    margin-top: 150px;
}
div#botoes h1{
    color: white;
    margin-left: 21px;
    margin-bottom: -15px;
    font-size: 25px;
}
ul#servicos{
    list-style: none;
    text-align: center;
    margin-bottom: 100px;
    margin-left: -19px;
}
ul#servicos li{
    border: 1px solid white;
    width: 300px;
    height: 100px;  
}
ul#servicos li:hover{
    -webkit-transform: scale(1.1);
    -webkit-transition: all 0.1s ease-in;
}
ul#servicos li#injecao{
     background: url(imagens/injecao.jpeg) no-repeat;
     background-position: 50% 50%;
     background-size:300px 100px;
     height: 100px;       
}
ul#servicos li#suspensao{
     background: url(imagens/suspensao.jpeg) no-repeat;
     background-position: 50% 50%;
     background-size: 300px 100px; 
     margin-top: -102px;
     margin-left: 330px;     
}
ul#servicos li#freios{
     background: url(imagens/freio.jpeg) no-repeat;
     background-position: 50% 50%;
     background-size: 300px 100px;   
     margin-top: -103px;
     margin-left: 660px;   
}
ul#servicos li#correia{
     background: url(imagens/correia.jpeg) no-repeat;
     background-position: 50% 50%;
     background-size: 300px 100px; 
     margin-top: -101px;
     margin-left: 990px;    
}
ul#servicos span{
    text-align: center;
    color: white;
    line-height: 250px;
    padding:7px;
}
form{
    color: white;
}
fieldset{
    border: 1px solid white;
    width: 300px;
    margin: auto;
    margin-top: -195px;
}
input:hover, textarea:hover{
  
}
fieldset#cadastro legend{
   margin-left: 56px;
   
}
footer{
    text-align: center;
    border-top: 2px solid white;
    color: white;   
    margin-top: 100px;
}